/* ----------------- */
/* Instruction Title */
/* ----------------- */
.instruction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background-color: rgb(235, 235, 235);
}

.instruction-title {
  font-size: 40px;
  font-weight: 300;
}

/* ------------------- */
/* Instruction Wrapper */
/* ------------------- */
.instruction-wrapper {
  display: flex;
  width: auto;
  padding-left: 300px;
  justify-content: space-evenly;
}

.image-container {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

/* --------------- */
/* Steps Component */
/* --------------- */
.steps-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
}

.steps {
  margin: 10px;
  display: flex;
}

.step-number {
  min-width: 50px;
  height: 50px;
  font-size: 25px; 
  font-weight: 400;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 0;
}

.step-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
}

/* ------------- */
/* App Component */
/* ------------- */
.downloads {
  display: flex;
  justify-content: flex-start;

  img {
    width: 150px;
    height: 50px;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 12px;
    &:hover {
      cursor: pointer;
    }
  }
}

